#board {
    position: relative;
    display: inline-block;
}

#board .node {
    padding: 20px;
    background: #000;
    border: 4px solid #fff;
}

#board .node:hover {
    background: #aaa;
}

#board .on {
    background: #fff;
    border: 4px solid #000;
}

#board table {
    border-collapse: collapse;
    height: 100%;
}

#victory {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(77, 77, 77, .75);
    justify-content: center;
    align-items: center;
}

#victory h1 {
    color: #fff;
}

#victory.active {
    display: flex;
}
