#board .node {
    padding: 40px;
    background: #000;
    border: 4px solid #fff;
}

#board .node:hover {
    background: #aaa;
}

#board .on {
    background: #fff;
    border: 4px solid #000;
}

#board table {
    border-collapse: collapse;
}

#victory {
    display: none;
    width: 100%;
    height: 100%;
}

#victory .active {
    display: block;
}
